* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: GARAMOND;
}
.logo {
  background: olive;
  width: 20%;
  height: 100px;

  float: left;
}
.menu {
  background: olive;
  width: 80%;
  height: 100px;
  text-align: right;

  float: left;
}
.header {
  background: saddlebrown;
  color: white;
  text-align: center;
  padding: 30px;

  clear: both;
}
.main {
  background:wheat;
  color: white;
  width: 50%;
  height: 500px;

  float: left;
}
h1 {
  letter-spacing: 12px;
}
a {
  color: lightgray;
  padding: 20px;
  margin: 10px;
  font-size: 150%;
  line-height: 100px;
  border: 1px solid lightgray;
}
li:nth-child(4) {
  text-decoration: line-through;
}
